
<div class="colecao_titulo">
	<%= @colecao.nome %>
</div>

<div id="columns-primary">
	
		<div class="panels">
    	<div class="panel">
    		<a href="http://cxxvi.net/collections/fall-2011/products/tough-tote"><img src="http://library.cxxvi.net/site-ads/ad-toughtote1.jpg" ></a>
      </div>
    </div>
    <div class="panels">
    	<div class="panel">
      	<a href="http://cxxvi.net/collections/made-by-project"><img src="http://library.cxxvi.net/site-ads/ad-mbpfinal1.jpg" ></a>
      </div>
    </div>
    <div class="panels">
    	<div class="panel">
      	<a href="http://www.odinnewyork.com/" target="_blank"><img src="http://library.cxxvi.net/site-ads/ad-odin1.jpg" ></a>
      </div>
    </div>
    
</div> 
