<div id="holderColecao">
        	<div class="seta setaEsquerda" id="esquerdaColecao"></div>
            <div id="colecoes">
            	<div class="colecao">
                	<h1>verão 2012</h1>
                    <div class="itemColecao">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem07.jpg" width="241" height="303" />
                        </div>
                          <h2>conceito</h2>
                    </div>
                    <div class="itemColecao">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem08.jpg" width="241" height="303" />
                        </div>
                          <h2>lookbook</h2>
                    </div>
                    <div class="itemColecao" style="margin-right:0;">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem09.jpg" width="241" height="303" />
                        </div>
                          <h2>making of</h2>
                    </div>
                </div>
                <div class="colecao">
                	<h1>primavera 2012</h1>
                    <div class="itemColecao">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem10.jpg" width="241" height="303" />
                        </div>
                          <h2>conceito</h2>
                    </div>
                    <div class="itemColecao">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem11.jpg" width="241" height="303" />
                        </div>
                          <h2>lookbook</h2>
                    </div>
                    <div class="itemColecao" style="margin-right:0;">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem12.jpg" width="241" height="303" />
                        </div>
                          <h2>making of</h2>
                    </div>
                </div>
                <!------------->
               <div class="colecao" style="display:none;">
                	<h1>outono 2012</h1>
                    <div class="itemColecao">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem07.jpg" width="241" height="303" />
                        </div>
                          <h2>conceito</h2>
                    </div>
                    <div class="itemColecao">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem08.jpg" width="241" height="303" />
                        </div>
                          <h2>lookbook</h2>
                    </div>
                    <div class="itemColecao" style="margin-right:0;">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem09.jpg" width="241" height="303" />
                        </div>
                          <h2>making of</h2>
                    </div>
                </div>
                <div class="colecao" style="display:none;">
                	<h1>inverno 2012</h1>
                    <div class="itemColecao">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem10.jpg" width="241" height="303" />
                        </div>
                          <h2>conceito</h2>
                    </div>
                    <div class="itemColecao">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem11.jpg" width="241" height="303" />
                        </div>
                          <h2>lookbook</h2>
                    </div>
                    <div class="itemColecao" style="margin-right:0;">
                    	<div class="holderImage">
                          <img src="images/exemplo/imagem12.jpg" width="241" height="303" />
                        </div>
                          <h2>making of</h2>
                    </div>
                </div>
            </div>
            <div class="seta setaDireita" id="direitaColecao"></div>
        </div>
