<div id="holderColecao">
	<div class="seta setaEsquerda" id="esquerdaColecao"></div>
	<div id="colecoes">
		<% @colecoes.each_with_index do |colecao, i| %>
				<div class='colecao' style="<%= i > 1 ? 'display: none' : '' %>">

	    	<h1><%= colecao.nome %></h1>
	      <div class="itemColecao">
	      	<div class="holderImage"><%= image_tag colecao.conceito.fotos.first.arquivo.url, :width => 241, :height => 303 %></div>
	        <h2>conceito</h2>
	      </div>
	      <div class="itemColecao">
	      	<div class="holderImage"><%= image_tag colecao.lookbook.imagens.first.arquivo.url, :width => 241, :height => 303 %></div>
	        <h2>lookbook</h2>
	      </div>
	      <div class="itemColecao" style="margin-right:0;">
	      	<div class="holderImage"><img src="images/exemplo/imagem09.jpg" width="241" height="303" /></div>
	        <h2>making of</h2>
	     	</div>
			</div>
		<% end %>
  </div>
  <div class="seta setaDireita" id="direitaColecao"></div>
</div>
