<div id="imagemPrincipal">
        	<div class="image"><img src="images/exemplo/imagem01.jpg" width="847" height="486" alt="imagemPrincipal" /></div>
            <div class="image"><img src="images/exemplo/imagem05.jpg" width="847" height="486" alt="imagemPrincipal" /></div>
             <div class="image"><img src="images/exemplo/imagem06.jpg" width="847" height="486" alt="imagemPrincipal" /></div>
        </div>
        <div id="novidades">
        	<div class="seta setaEsquerda" id="setaEsquerda"></div>
            <div id="sliderNovidades">
            	<div id="holderNovidades">
                  <div class="item">
                      <div class="imagemNovidades"><img src="images/exemplo/imagem04.jpg" width="265" height="143" /></div>
                      <a href="#">
                        <div class="textoNovidades">
                            <p class="descricaoNovidade">assista ao making of</p>
                            <p class="tituloNovidade">verão 2012</p>
                        </div>
                      </a>
                  </div>
                  <div class="item">
                      <div class="imagemNovidades"><img src="images/exemplo/imagem03.jpg" width="265" height="143" /></div>
                      <a href="#">
                        <div class="textoNovidades">
                            <p class="descricaoNovidade">confira o lookbook</p>
                            <p class="tituloNovidade">inverno 2012</p>
                        </div>
                      </a>
                  </div>
                  <div class="item">
                      <div class="imagemNovidades"><img src="images/exemplo/imagem02.jpg" width="265" height="143" /></div>
                      <a href="#">
                        <div class="textoNovidades">
                            <p class="descricaoNovidade">nossas promoções são muito bacanas</p>
                            <p class="tituloNovidade">outono 2012</p>
                        </div>
                      </a>
                  </div>
                  <div class="item">
                      <div class="imagemNovidades"><img src="images/exemplo/imagem02.jpg" width="265" height="143" /></div>
                      <a href="#">
                        <div class="textoNovidades">
                            <p class="descricaoNovidade">nossas promoções são muito bacanas</p>
                            <p class="tituloNovidade">outono 2012</p>
                        </div>
                      </a>
                  </div>
                  <div class="item">
                      <div class="imagemNovidades"><img src="images/exemplo/imagem02.jpg" width="265" height="143" /></div>
                      <a href="#">
                        <div class="textoNovidades">
                            <p class="descricaoNovidade">nossas promoções são muito bacanas</p>
                            <p class="tituloNovidade">outono 2012</p>
                        </div>
                      </a>
                  </div>
                  <div class="item">
                      <div class="imagemNovidades"><img src="images/exemplo/imagem04.jpg" width="265" height="143" /></div>
                      <a href="#">
                        <div class="textoNovidades">
                            <p class="descricaoNovidade">assista ao making of</p>
                            <p class="tituloNovidade">verão 2012</p>
                        </div>
                      </a>
                  </div>
                  <div class="item">
                      <div class="imagemNovidades"><img src="images/exemplo/imagem03.jpg" width="265" height="143" /></div>
                      <a href="#">
                        <div class="textoNovidades">
                            <p class="descricaoNovidade">confira o lookbook</p>
                            <p class="tituloNovidade">inverno 2012</p>
                        </div>
                      </a>
                  </div>
                  <div class="clear"></div>
                </div>

            </div>
            <div class="seta setaDireita" id="setaDireita"></div>
        </div>
