<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">      
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <title>M.AP</title>
  
  <link href="stylesheets/site.css" rel="stylesheet" type="text/css"  media="all"  />
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
</head>
<body>

<div id="wrapper">
	<div class="content clearfix">
		
		<div id="topbar"></div>

		<div id="header" class="clearfix">
			<ul class="left-nav clearfix">
				<li class="first"><a href="/collections/all-items">Shop</a></li>
				<li><a href="/pages/collections">Collections</a></li>
				<li><a href="/blogs/lifestyle">Lifestyle</a></li></li>
			</ul>
		  <div class="logo">
			  <a href="/"></a>
		  </div><!-- .logo -->
		  <ul class="right-nav clearfix">
		  	<li class="first"><a href="/blogs/news">Blog</a></li>
		  	<li><a href="/pages/contact">Information</a></li>
		  	<li><a href="http://barnabyblack.com/" target="_blank">Barnaby Black</a></li>
		  </ul>
		</div><!-- #header -->	
	</div>
	
</div>



<%= yield %>

</html>
