<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <title>M.AP</title>

  <link href="stylesheets/site.css" rel="stylesheet" type="text/css"  media="all"  />
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body>

<div id="topbar"></div>

<div id="wrapper">
	<div class="content clearfix">


		<div id="header" class="clearfix">
			<ul class="left-nav clearfix">
				<li class="first"><a href="/amarca">A Marca</a></li>
				<li><a href="/colecoes">Coleção</a></li>
				<li><a href="/blogs/lifestyle">Clipping</a></li></li>
			</ul>
		  <div class="logo">
			  <a href="/"></a>
		  </div><!-- .logo -->
		  <ul class="right-nav clearfix">
		  	<li class="first"><a href="/produtos">Loja Virtual</a></li>
		  	<li><a href="/pages/contact">Blog</a></li>
		  	<li><a href="http://barnabyblack.com/" target="_blank">Contato</a></li>
		  </ul>
		</div><!-- #header -->
	</div>

</div>


<div id="big-primary">
<%= yield %>
</div>

<div id="footer">
	<div id="bottombar"></div>
	<div class="div_footer">
		<img src="images/youtube.png" alt="Youtube" />
		<span>Siga-nos no twitter </span>
	</div>
	<div class="div_footer">
		<img src="images/youtube.png" alt="Youtube" />
		<span>Siga-nos no twitter </span>
	</div>
	<div class="div_footer">
		<img src="images/youtube.png" alt="Youtube" />
		<span>Siga-nos no twitter </span>
	</div>
	<div class="div_footer">
		<img src="images/youtube.png" alt="Youtube" />
		<span>Siga-nos no twitter </span>
	</div>
	<div class="div_footer">
		<img src="images/youtube.png" alt="Youtube" />
		<span>Siga-nos no twitter </span>
	</div>
</div>

</html>
